
table.ttt {
    font-size: 27vw;
    margin: 10px;
    border: 1px solid #666;
    border-spacing: 0px;
    vertical-align: middle;
    text-align: center;
}

td.win {
    background-color: #730000;
    color: #eeeeee;
}

td.box {
    font-family: arial;
    border: 1px solid #666;
    height: 30vw;
    width: 30vw;
/*    max-width: 250px;
    max-height: 250px;*/
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}

td.clicked {
    cursor: default;
}
